
$primary-bg: #2454C1
$secondary-bg: #649E9B
$default-bg: #D7E5E4

$primary-gradient-bg: linear-gradient(to right top, #2454c1, #0070c5, #0084b8, #0a93a6, #649e9b)
$secondary-gradient-bg: linear-gradient(to right top, #649e9b, #81afad, #9ec1bf, #bad3d1, #d7e5e4)
$default-gradient-bg: linear-gradient(to right top, #d7e5e4, #e1ebee, #ecf1f5, #f7f8fa, #ffffff)


$primary-color: #2454C1
$secondary-color: #649E9B
$default-color: #D7E5E4

$dim-bg: #f1f4f5

$error-color : #C1243A
$success-color : #24C179
$warning-color : #C1B424

.roboto 
  // font-family: 'Ubuntu Mono', monospace;
  font-family: 'Palanquin Dark', sans-serif
html
  box-sizing: border-box
  font-family: 'Work Sans', sans-serif
  color : #274057
  font-weight: 100

*, *:before, *:after
  box-sizing: inherit
hr
  border: none
  border-top: 1px solid #edf5f4
  border-top: 1px solid #fafafa
  padding: 10px
h1 
  font-weight: 800
body
  background: #f1f4f5
*:focus 
  outline: none

.container 
  width : 900px
  padding : 100px
  margin : auto
  background-color: #fff

.palette
  display: grid
  grid-template-columns: repeat(5,1fr)
  grid-auto-rows: minmax(100px,auto)
  grid-gap: 3em

.palette-item
  text-align: center
  padding-top : 35px !important

.box 
  // box-shadow: 0 10px 24px 0px rgba(0, 0, 0, 0.02), 0 8px 20px -2px rgba(0, 0, 0, 0.06), 0 6px 10px -6px rgba(0, 0, 0, 0.1)
  box-shadow: 0 0 15px 1px rgba(133,140,142,0.3)
  padding: 10px
  position: relative

.round-borders
  border-radius: 5px

.primary-dark-bottom-bordred
  border-bottom : 3px solid darken( $primary-color, 20% ) !important

.secondary-dark-bottom-bordred
  border-bottom : 3px solid darken( $secondary-color, 20% ) !important

.default-dark-bottom-bordred
  border-bottom : 3px solid darken( $default-color, 10% ) !important


.primary-bottom-bordred
  border-bottom : 3px solid lighten( $primary-color, 40% ) !important

.secondary-bottom-bordred
  border-bottom : 3px solid lighten( $secondary-color, 40% ) !important

.default-bottom-bordred
  border-bottom : 3px solid lighten( $default-color, 10% ) !important

.primary-bordred
  border : 1px solid lighten( $primary-color, 40% )

.secondary-bordred
  border : 1px solid lighten( $secondary-color, 40% )

.default-bordred
  border : 1px solid lighten( $default-color, 10% )

.primary-bg
  background-color: $primary-bg
  color: #fff
.secondary-bg
  background-color: $secondary-bg
  color: #fff
.default-bg
  background-color: $default-bg
  color: #5D6771

.primary-gradient-bg 
  background-image: $primary-gradient-bg
  color: #fff
.secondary-gradient-bg
  background-image: $secondary-gradient-bg
  color: #fff
.default-gradient-bg
  background-image: $default-gradient-bg
  color: #5D6771

.primary-color
  color: $primary-bg

.secondary-color
  color: $secondary-bg

.default-color
  color: $default-bg

.center-block
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.form-input,textarea , select 
  padding : 10px
  font-size : 15px
  border : none
  background : $dim-bg
  width : 100%
  margin-top: 20px
  margin-bottom: 20px
  color : $primary-color

label 
  font-weight : 800
  display: block
  margin-left: 0

.error-color , .error-input
  color: $error-color

.success-color , .success-input
  color: $success-color
.warning-color 
  color: $warning-color
.error-input
  border-left: 3px solid lighten( $error-color, 40% )
  

.success-input
  border-left: 3px solid lighten( $success-color, 40% )
  
button 
  border: none
  cursor: pointer
  i
   padding-left : 10px

.icon-btn
  border-radius: 50px
  padding: 10px
  i
    top: 0
    bottom: 0
    margin: auto
    display: block
    width: 100%
    padding: 0
    text-align: center
button:hover
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
.text-center
  text-align: center