extends /layouts/_default

block content
 body
  article
  .vh-100.dt.w-100.tc.bg-dark-gray.white.cover(style='background:url(http://mrmrs.github.io/photos/u/009.jpg) no-repeat center;')
    .dtc.v-mid
      header.white-70
        h2.f6.fw1.ttu.tracked.mb2.lh-title Issue Six
        h3.f6.fw1.lh-title Summer MMXVI
      h1.f1.f-headline-l.fw1.i.white-60 The Chronicles
      blockquote.ph0.mh0.measure.f4.lh-copy.center
        p.fw1.white-70
          | It's the space you put between the notes that make the music.
        cite.f6.ttu.tracked.fs-normal Massimo Vignelli
  .center.f5.pv5.lh-copy.ph4.bg-white.w-80.mb5
    h1.f1.lh-title.secondary-color The repercussion of ugliness is endless
    p
      | The choice of paper size is one of the  first of any given work to be printed. There are two basic paper size systems in the world: the international A sizes, and the American sizes.
    p
      | The international Standard paper sizes, called the A series, is based
      | on a golden rectangle, the divine proportion. It is extremely handsome
      | and practical as well. It is adopted by many countries around the world
      | and is based on the German DIN metric Standards. The United States uses
      | a basic letter size (8 1/2 x 11”) of ugly proportions, and results in
      | complete chaos with an endless amount of paper sizes. It is a
      | by-product of the culture of free enterprise, competition and waste.
      | Just another example of the misinterpretations of freedom.
    p
      | These are the basic DIN sizes in mm. for : A0, 841x1189 - A1, 594x841 -
      | A2, 420x594 - A3, 297x420 - A4, 210x297 - A5, 148x210 - A6, 105 x148 -
      | A7, 74x 105 - A8, 52x74 - A9, 37x52 - A10, 26x37.
    p
      | The A4 is the basic size for stationary. Two thirds of it is a square,
      | a nice economical happenstance resulting from the golden rectangle.
      | It is one of the reasons we tend to use as much
      | as possible the DIN sizes: proportions are always leading to other nice proportions.
    p
      | This does not happen with the American basic size which leads to nothing. I counted 28 different standard sizes in USA!. The only reason we use it is because everybody in USA uses it, all stationary in USA is that size, so are manilla folders,  les and of ce equipment!
      | The repercussion of ugliness is endless.
    .mw9.center.ph3-ns
      h2 Avatars
     .cf.ph2-ns
       .fl.w-100.w-25-ns.pa2
         .pa4.tc
           img.br-100.ba.h3.w3.dib(src='http://tachyons.io/img/logo.jpg', alt='avatar')
       .fl.w-third.w-25-ns.pa2
           .pa4.tc
            img.br-100.h3.w3.dib(src='http://tachyons.io/img/logo.jpg', alt='avatar')
       .fl.w-third.w-25-ns.pa2
           .tc.pa4
             img.br-100.pa1.ba.b--black-10.h3.w3(src='http://tachyons.io/img/logo.jpg', alt='avatar')
       .fl.w-third.w-25-ns.pa2
           .pa4.tc
             img.br4.h3.w3.dib(src='http://tachyons.io/img/logo.jpg', alt='avatar')
      h2 Banners
         article.mw7.center.ph3.ph5-ns.tc.br2.pv5.default-bg.secondary-color.mb5
          h1.fw6.f3.f2-ns.lh-title.mt0.mb3
            | This is a tagline. For x.
          h2.fw2.f4.lh-copy.mt0.mb3
            | This will change things. And we want you to be involved. This text needs to
            | be longer for testing sake.
          p.fw1.f5.mt0.mb3
            | Sign up for beta access or learn more about x.
          div
            a.f6.br-pill.secondary-bg.no-underline.washed-green.ba.grow.pv2.ph3.dib.mr3(href='#')
              | Sign Up
            a.f6.br-pill.secondary-color.no-underline.ba.grow.pv2.ph3.dib(href='#')
              | Learn More
         article.mw7.center.ph3.ph5-ns.tc.br2.pv5.primary-bg.white-color.mb5
          h1.fw6.f3.f2-ns.lh-title.mt0.mb3
            | This is a tagline. For x.
          h2.fw2.f4.lh-copy.mt0.mb3
            | This will change things. And we want you to be involved. This text needs to
            | be longer for testing sake.
          p.fw1.f5.mt0.mb3
            | Sign up for beta access or learn more about x.
          div
            a.f6.br-pill.secondary-bg.no-underline.grow.pv2.ph3.dib.mr3(href='#')
              | Sign Up
            a.f6.br-pill.default-bg.no-underline.grow.pv2.ph3.dib(href='#')
              | Learn More 
         article.mw7.center.ph3.ph5-ns.tc.br2.pv5.primary-gradient-bg.white-color.mb5
          h1.fw6.f3.f2-ns.lh-title.mt0.mb3
            | This is a tagline. For x.
          h2.fw2.f4.lh-copy.mt0.mb3
            | This will change things. And we want you to be involved. This text needs to
            | be longer for testing sake.
          p.fw1.f5.mt0.mb3
            | Sign up for beta access or learn more about x.
          div
            a.f6.br-pill.secondary-bg.no-underline.grow.pv2.ph3.dib.mr3(href='#')
              | Sign Up
            a.f6.br-pill.primary-bg.no-underline.grow.pv2.ph3.dib.mr3(href='#')
              | Learn More 2
        section.ph3.ph5-ns.pv5
          article.mw8.center.br2.default-bg
            .dt-ns.dt--fixed-ns.w-100
              .pa3.pa4-ns.dtc-ns.v-mid
                div
                  h2.fw4.mt0.mb3.primary-color This is a promo title 
                  p.black-70.measure.lh-copy.mv0
                    | This is suporting copy for the wonderful promo catchphrase that is going to be used.
              .pa3.pa4-ns.dtc-ns.v-mid
                a.no-underline.f6.tc.db.w-100.pv3.dim.primary-bg.br2(href='#') Sign up for free
        section.ph3.ph5-ns.pv5
          article.mw8.center.br2.default-bg.secondary-bordred
            .dt-ns.dt--fixed-ns.w-100
              .pa3.pa4-ns.dtc-ns.v-mid
                div
                  h2.fw4.mt0.mb3.secondary-color This is a promo title 
                  p.black-70.measure.lh-copy.mv0
                    | This is suporting copy for the wonderful promo catchphrase that is going to be used.
              .pa3.pa4-ns.dtc-ns.v-mid
                a.no-underline.f6.tc.db.w-100.pv3.dim.secondary-bg.br2(href='#') Sign up for free
        .flex.items-center.justify-center.pa4.ma2.primary-bg
          svg.w1(data-icon='info', viewbox='0 0 32 32', style='fill:currentcolor')
            title info icon
            path(d='M16 0 A16 16 0 0 1 16 32 A16 16 0 0 1 16 0 M19 15 L13 15 L13 26 L19 26 z M16 6 A3 3 0 0 0 16 12 A3 3 0 0 0 16 6'        )
          span.lh-title.ml3 Some info that you want to call attention to.
        .flex.items-center.justify-center.pa4.ma2.secondary-bg
          svg.w1(data-icon='info', viewbox='0 0 32 32', style='fill:currentcolor')
            title info icon
            path(d='M16 0 A16 16 0 0 1 16 32 A16 16 0 0 1 16 0 M19 15 L13 15 L13 26 L19 26 z M16 6 A3 3 0 0 0 16 12 A3 3 0 0 0 16 6'        )
          span.lh-title.ml3 Some info that you want to call attention to.
        .flex.items-center.justify-center.pa4.ma2.default-bg
          svg.w1(data-icon='info', viewbox='0 0 32 32', style='fill:currentcolor')
            title info icon
            path(d='M16 0 A16 16 0 0 1 16 32 A16 16 0 0 1 16 0 M19 15 L13 15 L13 26 L19 26 z M16 6 A3 3 0 0 0 16 12 A3 3 0 0 0 16 6'        )
          span.lh-title.ml3 Some info that you want to call attention to.
        .flex.items-center.justify-center.pa4.ma2.primary-gradient-bg 
          svg.w1(data-icon='info', viewbox='0 0 32 32', style='fill:currentcolor')
            title info icon
            path(d='M16 0 A16 16 0 0 1 16 32 A16 16 0 0 1 16 0 M19 15 L13 15 L13 26 L19 26 z M16 6 A3 3 0 0 0 16 12 A3 3 0 0 0 16 6'        )
          span.lh-title.ml3 Some info that you want to call attention to.
        .mw9.center.ph3-ns
          h2 Cards
          .cf.ph2-ns
            .fl.w-33-ns.pa2
                article.br2.ba.dark-gray.b--black-10.mv4.w-100.w-100-m.w-100-l.mw5.center
                  img.db.w-100.br2.br--top(src='http://placekitten.com/g/600/300', alt='Photo of a kitten looking menacing.')
                  .pa2.ph3-ns.pb3-ns
                    .dt.w-100.mt1
                      .dtc
                        h1.f5.f4-ns.mv0 Cat
                      .dtc.tr
                        h2.f5.mv0 $1,000
                    p.f6.lh-copy.measure.mt2.mid-gray
                      | If it fits, i sits burrow under covers. Destroy couch leave hair everywhere,
                      | and touch water with paw then recoil in horror.
            .fl.w-33-ns.pa2
                article.mw5.center.bg-white.br3.pa3.pa4-ns.mv3.ba.b--black-10
                  .tc
                    img.br-100.h4.w4.dib.ba.b--black-05.pa2(src='http://tachyons.io/img/avatar_1.jpg', title='Photo of a kitty staring at you')
                    h1.f3.mb2 Mimi W.
                    h2.f5.fw4.gray.mt0 CCO (Chief Cat Officer)
            .fl.w-33-ns.pa2
                article.mw5.center.bg-white.br3.pa3.pa4-ns.mv3.ba.b--black-10
                  .tc
                    img.br-100.h3.w3.dib(src='http://tachyons.io/img/avatar_1.jpg', title='Photo of a kitty staring at you')
                    h1.f4 Mimi Whitehouse
                    hr.mw3.bb.bw1.b--black-10
                  p.lh-copy.measure.center.f6.black-70
                    | Quite affectionate and outgoing.
                    | She loves to get chin scratches and will
                    | roll around on the floor waiting for you give her more of them.
          h2 forms
           form.pa4.black-80
             .measure
               label.f6.b.db.mb2(for='name')
                 | Name 
                 span.normal.black-60 (optional)
               input#name.input-reset.pa2.mb2.db.w-100.form-input(type='text', aria-describedby='name-desc')
               small#name-desc.f7.black-60.db.mb2 Helper text for the form control.
             .measure
               label.f6.b.db.mb2(for='name')
                 | Name 
                 span.normal.black-60 (optional)
               input#name.input-reset.pa2.mb2.db.w-100.form-input(type='text', aria-describedby='name-desc')
               small#name-desc.f7.black-60.db.mb2 Helper text for the form control.
          h2 headers
            header.tc.pv4.pv5-ns
              img.br-100.pa1.ba.b--black-10.h3.w3(src='http://tachyons.io/img/logo.jpg', alt='avatar')
              h1.f5.f4-ns.fw6.mid-gray Jasper Whitehouse
              h2.f6.gray.fw2.ttu.tracked Los Angeles  
            hr
            nav.pa3.pa4-ns
              a.link.dim.black.b.f1.f-headline-ns.tc.db.mb3.mb4-ns(href='#', title='Home') Site Name
              .tc.pb3
                a.link.dim.gray.f6.f5-ns.dib.mr3(href='#', title='Home') Home
                a.link.dim.gray.f6.f5-ns.dib.mr3(href='#', title='About') About
                a.link.dim.gray.f6.f5-ns.dib.mr3(href='#', title='Store') Store
                a.link.dim.gray.f6.f5-ns.dib(href='#', title='Contact') Contact
            hr
          h2 navs
            hr
            nav.flex.justify-between.bb.b--white-10.primary-bg
              a.link.white-70.hover-white.no-underline.flex.items-center.pa3(href='')
                svg.dib.h1.w1(data-icon='grid', viewbox='0 0 32 32', style='fill:currentcolor')
                  title Super Normal Icon Mark
                  path(d='M2 2 L10 2 L10 10 L2 10z M12 2 L20 2 L20 10 L12 10z M22 2 L30 2 L30 10 L22 10z M2 12 L10 12 L10 20 L2 20z M12 12 L20 12 L20 20 L12 20z M22 12 L30 12 L30 20 L22 20z M2 22 L10 22 L10 30 L2 30z M12 22 L20 22 L20 30 L12 30z M22 22 L30 22 L30 30 L22 30z')
              .flex-grow.pa3.flex.items-center
                a.f6.link.dib.white.dim.mr3.mr4-ns(href='#0') About
                a.f6.link.dib.white.dim.mr3.mr4-ns(href='#0') Sign In
                a.f6.dib.white.bg-animate.hover-bg-white.hover-black.no-underline.pv2.ph4.br-pill.ba.b--white-20(href='#0') Sign Up
            hr
            nav.flex.justify-between.bb.b--white-10.secondary-bg
              a.link.white-70.hover-white.no-underline.flex.items-center.pa3(href='')
                svg.dib.h1.w1(data-icon='grid', viewbox='0 0 32 32', style='fill:currentcolor')
                  title Super Normal Icon Mark
                  path(d='M2 2 L10 2 L10 10 L2 10z M12 2 L20 2 L20 10 L12 10z M22 2 L30 2 L30 10 L22 10z M2 12 L10 12 L10 20 L2 20z M12 12 L20 12 L20 20 L12 20z M22 12 L30 12 L30 20 L22 20z M2 22 L10 22 L10 30 L2 30z M12 22 L20 22 L20 30 L12 30z M22 22 L30 22 L30 30 L22 30z')
              .flex-grow.pa3.flex.items-center
                a.f6.link.dib.white.dim.mr3.mr4-ns(href='#0') About
                a.f6.link.dib.white.dim.mr3.mr4-ns(href='#0') Sign In
                a.f6.dib.white.bg-animate.hover-bg-white.hover-black.no-underline.pv2.ph4.br-pill.ba.b--white-20(href='#0') Sign Up
            hr
            nav.flex.justify-between.bb.b--white-10.default-bg.primary-bottom-bordred
              a.link.white-70.hover-white.no-underline.flex.items-center.pa3(href='')
                svg.dib.h1.w1(data-icon='grid', viewbox='0 0 32 32', style='fill:currentcolor')
                  title Super Normal Icon Mark
                  path(d='M2 2 L10 2 L10 10 L2 10z M12 2 L20 2 L20 10 L12 10z M22 2 L30 2 L30 10 L22 10z M2 12 L10 12 L10 20 L2 20z M12 12 L20 12 L20 20 L12 20z M22 12 L30 12 L30 20 L22 20z M2 22 L10 22 L10 30 L2 30z M12 22 L20 22 L20 30 L12 30z M22 22 L30 22 L30 30 L22 30z')
              .flex-grow.pa3.flex.items-center
                a.f6.link.dib.white.dim.mr3.mr4-ns(href='#0') About
                a.f6.link.dib.white.dim.mr3.mr4-ns(href='#0') Sign In
                a.f6.dib.white.bg-animate.hover-bg-white.hover-black.no-underline.pv2.ph4.br-pill.ba.b--white-20(href='#0') Sign Up
            hr
            nav.dt.w-100.border-box.pa3.ph5-ns.primary-bottom-bordred
              a.dtc.v-mid.mid-gray.link.dim.w-25(href='#', title='Home')
                img.dib.w2.h2.br-100(src='http://tachyons.io/img/logo.jpg', alt='Site Name')
              .dtc.v-mid.w-75.tr
                a.link.dim.dark-gray.f6.f5-ns.dib.mr3.mr4-ns(href='#', title='About') Services
                a.link.dim.dark-gray.f6.f5-ns.dib.mr3.mr4-ns(href='#', title='Store') Blog
                a.link.dim.dark-gray.f6.f5-ns.dib(href='#', title='Contact') Join Us
            hr
            nav.db.dt-l.w-100.border-box.pa3.ph5-l.secondary-bottom-bordred
              a.db.dtc-l.v-mid.mid-gray.link.dim.w-100.w-25-l.tc.tl-l.mb2.mb0-l(href='#', title='Home')
                img.dib.w2.h2.br-100(src='http://tachyons.io/img/logo.jpg', alt='Site Name')
              .db.dtc-l.v-mid.w-100.w-75-l.tc.tr-l
                a.link.dim.dark-gray.f6.f5-l.dib.mr3.mr4-l(href='#', title='Home') Home
                a.link.dim.dark-gray.f6.f5-l.dib.mr3.mr4-l(href='#', title='How it Works') How it Works
                a.link.dim.dark-gray.f6.f5-l.dib.mr3.mr4-l(href='#', title='Blog') Blog
                a.link.dim.dark-gray.f6.f5-l.dib.mr3.mr4-l(href='#', title='Press') Press
                a.link.dim.dark-gray.f6.f5-l.dib(href='#', title='Contact') Contact
            hr
            header.tc.ph4
              h1.f3.f2-m.f1-l.fw2.black-90.mv3
                | This is the title
              h2.f5.f4-m.f3-l.fw2.black-50.mt0.lh-copy
                | This is the subtitle where additional information can go if you really need it.

          h2 lists
             ul.list.pl0.mt0.measure.center
               li.flex.items-center.lh-copy.pa3.ph0-l.bb.b--black-10
                 img.w2.h2.w3-ns.h3-ns.br-100(src='http://tachyons.io/img/avatar-mrmrs.jpg')
                 .pl3.flex-auto
                   span.f6.db.black-70 Mrmrs
                   span.f6.db.black-70 Medium Hexagon, LLC
                 div
                   a.f6.link.blue.hover-dark-gray(href='tel:') +1 (999) 555-5555
               li.flex.items-center.lh-copy.pa3.ph0-l.bb.b--black-10
                 img.w2.h2.w3-ns.h3-ns.br-100(src='http://tachyons.io/img/avatar-jxnblk.jpg')
                 .pl3.flex-auto
                   span.f6.db.black-70 Jxnblk
                   span.f6.db.black-70 Large Circle, Inc
                 div
                   a.f6.link.blue.hover-dark-gray(href='tel:') +1 (999) 555-5555
               li.flex.items-center.lh-copy.pa3.ph0-l.bb.b--black-10
                 img.w2.h2.w3-ns.h3-ns.br-100(src='http://tachyons.io/img/avatar-jasonli.jpg')
                 .pl3.flex-auto
                   span.f6.db.black-70 Jason Li
                   span.f6.db.black-70 Little Blue Square, Inc
                 div
                   a.f6.link.blue.hover-dark-gray(href='tel:') +1 (999) 555-5555
               li.flex.items-center.lh-copy.pa3.ph0-l.bb.b--black-10
                 img.w2.h2.w3-ns.h3-ns.br-100(src='http://tachyons.io/img/avatar-yavor.jpg')
                 .pl3.flex-auto
                   span.f6.db.black-70 Yavor
                   span.f6.db.black-70 Large Circle, Inc
                 div
                   a.f6.link.blue.hover-dark-gray(href='tel:') +1 (999) 555-5555
          h2 list of followers : 
            main.mw6.center
              article.dt.w-100.bb.b--black-05.pb2.mt2(href='#0')
                .dtc.w2.w3-ns.v-mid
                  img.ba.b--black-10.db.br2.w2.w3-ns.h2.h3-ns(src='http://mrmrs.github.io/photos/p/2.jpg')
                .dtc.v-mid.pl3
                  h1.f6.f5-ns.fw6.lh-title.black.mv0 Young Gatchell 
                  h2.f6.fw4.mt0.mb0.black-60 @yg
                .dtc.v-mid
                  form.w-100.tr
                    button.f6.button-reset.bg-white.ba.b--black-10.dim.pointer.pv1.black-60(type='submit') + Follow
              article.dt.w-100.bb.b--black-05.pb2.mt2(href='#0')
                .dtc.w2.w3-ns.v-mid
                  img.ba.b--black-10.db.br2.w2.w3-ns.h2.h3-ns(src='http://mrmrs.github.io/photos/p/3.jpg')
                .dtc.v-mid.pl3
                  h1.f6.f5-ns.fw6.lh-title.black.mv0 Arnoldo Degraff
                  h2.f6.fw4.mt0.mb0.black-60 @99xx88randomhandle
                .dtc.v-mid
                  form.w-100.tr
                    button.f6.button-reset.bg-white.ba.b--black-10.dim.pointer.pv1.black-60(type='submit') + Follow
              article.dt.w-100.bb.b--black-05.pb2.mt2(href='#0')
                .dtc.w2.w3-ns.v-mid
                  img.ba.b--black-10.db.br2.w2.w3-ns.h2.h3-ns(src='http://mrmrs.github.io/photos/p/4.jpg')
                .dtc.v-mid.pl3
                  h1.f6.f5-ns.fw6.lh-title.black.mv0 Deirdre Lachance
                  h2.f6.fw4.mt0.mb0.black-60 @favfavfav
                .dtc.v-mid
                  form.w-100.tr
                    button.f6.button-reset.bg-white.ba.b--black-10.dim.pointer.pv1.black-60(type='submit') + Follow
              article.dt.w-100.bb.b--black-05.pb2.mt2(href='#0')
                .dtc.w2.w3-ns.v-mid
                  img.ba.b--black-10.db.br2.w2.w3-ns.h2.h3-ns(src='http://mrmrs.github.io/photos/p/5.jpg')
                .dtc.v-mid.pl3
                  h1.f6.f5-ns.fw6.lh-title.black.mv0 Frederic Starner
                  h2.f6.fw4.mt0.mb0.black-60 @hungryhippofanatic
                .dtc.v-mid
                  form.w-100.tr
                    button.f6.button-reset.bg-white.ba.b--black-10.dim.pointer.pv1.black-60(type='submit') + Follow
              article.dt.w-100.bb.b--black-05.pb2.mt2(href='#0')
                .dtc.w2.w3-ns.v-mid
                  img.ba.b--black-10.db.br2.w2.w3-ns.h2.h3-ns(src='http://mrmrs.github.io/photos/p/6.jpg')
                .dtc.v-mid.pl3
                  h1.f6.f5-ns.fw6.lh-title.black.mv0 Cleveland Ridout
                  h2.f6.fw4.mt0.mb0.black-60 @purethinking
                .dtc.v-mid
                  form.w-100.tr
                    button.f6.button-reset.bg-white.ba.b--black-10.dim.pointer.pv1.black-60(type='submit') + Follow
              article.dt.w-100.bb.b--black-05.pb2.mt2(href='#0')
                .dtc.w2.w3-ns.v-mid
                  img.ba.b--black-10.db.br2.w2.w3-ns.h2.h3-ns(src='http://mrmrs.github.io/photos/p/7.jpg')
                .dtc.v-mid.pl3
                  h1.f6.f5-ns.fw6.lh-title.black.mv0 Leticia Fearon
                  h2.f6.fw4.mt0.mb0.black-60 @retrofeels
                .dtc.v-mid
                  form.w-100.tr
                    button.f6.button-reset.bg-white.ba.b--black-10.dim.pointer.pv1.black-60(type='submit') + Follow
              article.dt.w-100.bb.b--black-05.pb2.mt2(href='#0')
                .dtc.w2.w3-ns.v-mid
                  img.ba.b--black-10.db.br2.w2.w3-ns.h2.h3-ns(src='http://mrmrs.github.io/photos/p/10.jpg')
                .dtc.v-mid.pl3
                  h1.f6.f5-ns.fw6.lh-title.black.mv0 Ahmad Backer
                  h2.f6.fw4.mt0.mb0.black-60 @ahmadBB
                .dtc.v-mid
                  form.w-100.tr
                    button.f6.button-reset.bg-white.ba.b--black-10.dim.pointer.pv1.black-60(type='submit') + Follow
              article.dt.w-100.bb.b--black-05.pb2.mt2(href='#0')
                .dtc.w2.w3-ns.v-mid
                  img.ba.b--black-10.db.br2.w2.w3-ns.h2.h3-ns(src='http://mrmrs.github.io/photos/p/11.jpg')
                .dtc.v-mid.pl3
                  h1.f6.f5-ns.fw6.lh-title.black.mv0 Carlie Noakes
                  h2.f6.fw4.mt0.mb0.black-60 @carnoakes99
                .dtc.v-mid
                  form.w-100.tr
                    button.f6.button-reset.bg-white.ba.b--black-10.dim.pointer.pv1.black-60(type='submit') + Follow

  .wrapper
   .container.round-borders.gap
    h1.text-center.roboto My UI library
    hr
    h2 Color palette : 
    hr
    .palette
      .box.primary-bottom-bordred.palette-item.primary-bg.round-borders #2454C1
      .box.secondary-bottom-bordred.palette-item.secondary-bg.round-borders #649E9B
      .box.primary-bo.while-colorttom-bordred.palette-item.default-bg.round-borders #F1F1E6
      .box.primary-bottom-bordred.palette-item.primary-gradient-bg.round-borders gradient
      .box.secondary-bottom-bordred.palette-item.secondary-gradient-bg.round-borders gradient
      .box.default-bottom-bordred.palette-item.default-gradient-bg.round-borders gradient
      .box.default-bordred.default-bottom-bordred.round-borders 
       .center-block test 
    hr
    section.mw7.center.avenir
     h2.roboto.fw1.ph3.ph0-l Articles
     article.bb.b--black-10
       a.db.pv4.ph3.ph0-l.no-underline.black.dim(href='#0')
         .flex.flex-column.flex-row-ns
           .pr3-ns.mb4.mb0-ns.w-100.w-40-ns
             img.db(src='http://mrmrs.github.io/photos/warehouse.jpg', alt='Photo of a warehouse with stacked shelves.')
           .w-100.w-60-ns.pl3-ns
             h1.f3.fw1.roboto.mt0.lh-title.secondary-color Warehouse Prices Are Fast on the Rise
             p.f6.f5-l.lh-copy
               | A warehouse is a commercial building for storage of goods.
               | Warehouses are used by manufacturers, importers, exporters,
               | wholesalers, transport businesses, customs, etc. They are
               | usually large plain buildings in industrial areas of cities,
               | towns and villages.
             p.f6.lh-copy.mv0 By Robin Darnell
     article.bb.b--black-10
       a.db.pv4.ph3.ph0-l.no-underline.black.dim(href='#0')
         .flex.flex-column.flex-row-ns
           .pr3-ns.mb4.mb0-ns.w-100.w-40-ns
             img.db(src='http://mrmrs.github.io/photos/whale.jpg', alt='Photo of a warehouse with stacked shelves.')
           .w-100.w-60-ns.pl3-ns
             h1.f3.fw1.roboto.mt0.lh-title.secondary-color Giant Whale Invests Huge Money to Build a Computer Out of Plankton
             p.f6.f5-l.lh-copy
               | Whale is the common name for a widely distributed and diverse
               | group of fully aquatic placental marine mammals. They are an
               | informal grouping within the infraorder Cetacea, usually
               | excluding dolphins and porpoises.
             p.f6.lh-copy.mv0 By Robin Darnell

