extends /layouts/_default

block content
 body
  header.sans-serif
  .cover.bg-left.bg-center-l(style='background-image: url(http://mrmrs.github.io/photos/u/011.jpg)')
    .bg-black-80.pb5.pb6-m.pb7-l
      nav.dt.w-100.mw8.center
        .dtc.w2.v-mid.pa3
          a.dib.w2.h2.pa1.ba.b--white-90.grow-large.border-box(href='/')
            svg.link.white-90.hover-white(data-icon='skull', viewbox='0 0 32 32', style='fill:currentcolor')
              title skull icon
              path(d='M16 0 C6 0 2 4 2 14 L2 22 L6 24 L6 30 L26 30 L26 24 L30 22 L30 14 C30 4 26 0 16 0 M9 12 A4.5 4.5 0 0 1 9 21 A4.5 4.5 0 0 1 9 12 M23 12 A4.5 4.5 0 0 1 23 21 A4.5 4.5 0 0 1 23 12')
        .dtc.v-mid.tr.pa3
          a.f6.fw4.hover-white.no-underline.white-70.dn.dib-ns.pv2.ph3(href='/') How it Works
          a.f6.fw4.hover-white.no-underline.white-70.dn.dib-ns.pv2.ph3(href='/') Pricing
          a.f6.fw4.hover-white.no-underline.white-70.dn.dib-l.pv2.ph3(href='/') About
          a.f6.fw4.hover-white.no-underline.white-70.dn.dib-l.pv2.ph3(href='/') Careers
          a.f6.fw4.hover-white.no-underline.white-70.dib.ml2.pv2.ph3.ba(href='/') Sign Up
      .tc-l.mt4.mt5-m.mt6-l.ph3
        h1.f2.f1-l.fw2.white-90.mb0.lh-title This is your super impressive headline
        h2.fw1.f3.white-80.mt3.mb4 Now a subheadline where explain your wonderful new startup even more
        a.f6.no-underline.grow.dib.v-mid.primary-bg.white.ph3.pv2.mb3(href='/') Call to Action
        span.dib.v-mid.ph3.white-70.mb3 or
        a.f6.no-underline.grow.dib.v-mid.white.ba.b--white.ph3.pv2.mb3(href='') Secondary call to action

  article
  .vh-100.dt.w-100.tc.bg-dark-gray.white.cover(style='background:url(http://mrmrs.github.io/photos/u/009.jpg) no-repeat center;')
    .dtc.v-mid
      header.white-70
        h2.f6.fw1.ttu.tracked.mb2.lh-title Issue Six
        h3.f6.fw1.lh-title Summer MMXVI
      h1.f1.f-headline-l.fw1.i.white-60 The Chronicles
      blockquote.ph0.mh0.measure.f4.lh-copy.center
        p.fw1.white-70
          | It's the space you put between the notes that make the music.
        cite.f6.ttu.tracked.fs-normal Massimo Vignelli
  .center.f5.pv5.lh-copy.ph4.bg-white.w-80.mb5
    h1.f1.lh-title.secondary-color The repercussion of ugliness is endless
    p
      | The choice of paper size is one of the  first of any given work to be printed. There are two basic paper size systems in the world: the international A sizes, and the American sizes.
    p
      | The international Standard paper sizes, called the A series, is based
      | on a golden rectangle, the divine proportion. It is extremely handsome
      | and practical as well. It is adopted by many countries around the world
      | and is based on the German DIN metric Standards. The United States uses
      | a basic letter size (8 1/2 x 11”) of ugly proportions, and results in
      | complete chaos with an endless amount of paper sizes. It is a
      | by-product of the culture of free enterprise, competition and waste.
      | Just another example of the misinterpretations of freedom.
    p
      | These are the basic DIN sizes in mm. for : A0, 841x1189 - A1, 594x841 -
      | A2, 420x594 - A3, 297x420 - A4, 210x297 - A5, 148x210 - A6, 105 x148 -
      | A7, 74x 105 - A8, 52x74 - A9, 37x52 - A10, 26x37.
    p
      | The A4 is the basic size for stationary. Two thirds of it is a square,
      | a nice economical happenstance resulting from the golden rectangle.
      | It is one of the reasons we tend to use as much
      | as possible the DIN sizes: proportions are always leading to other nice proportions.
    p
      | This does not happen with the American basic size which leads to nothing. I counted 28 different standard sizes in USA!. The only reason we use it is because everybody in USA uses it, all stationary in USA is that size, so are manilla folders,  les and of ce equipment!
      | The repercussion of ugliness is endless.
    .mw9.center.ph3-ns
      h2 Avatars
     .cf.ph2-ns
       .fl.w-100.w-25-ns.pa2
         .pa4.tc
           img.br-100.ba.h3.w3.dib(src='http://tachyons.io/img/logo.jpg', alt='avatar')
       .fl.w-third.w-25-ns.pa2
           .pa4.tc
            img.br-100.h3.w3.dib(src='http://tachyons.io/img/logo.jpg', alt='avatar')
       .fl.w-third.w-25-ns.pa2
           .tc.pa4
             img.br-100.pa1.ba.b--black-10.h3.w3(src='http://tachyons.io/img/logo.jpg', alt='avatar')
       .fl.w-third.w-25-ns.pa2
           .pa4.tc
             img.br4.h3.w3.dib(src='http://tachyons.io/img/logo.jpg', alt='avatar')
      h2 Banners
         article.mw7.center.ph3.ph5-ns.tc.br2.pv5.default-bg.secondary-color.mb5
          h1.fw6.f3.f2-ns.lh-title.mt0.mb3
            | This is a tagline. For x.
          h2.fw2.f4.lh-copy.mt0.mb3
            | This will change things. And we want you to be involved. This text needs to
            | be longer for testing sake.
          p.fw1.f5.mt0.mb3
            | Sign up for beta access or learn more about x.
          div
            a.f6.br-pill.secondary-bg.no-underline.washed-green.ba.grow.pv2.ph3.dib.mr3(href='#')
              | Sign Up
            a.f6.br-pill.secondary-color.no-underline.ba.grow.pv2.ph3.dib(href='#')
              | Learn More
         article.mw7.center.ph3.ph5-ns.tc.br2.pv5.primary-bg.white-color.mb5
          h1.fw6.f3.f2-ns.lh-title.mt0.mb3
            | This is a tagline. For x.
          h2.fw2.f4.lh-copy.mt0.mb3
            | This will change things. And we want you to be involved. This text needs to
            | be longer for testing sake.
          p.fw1.f5.mt0.mb3
            | Sign up for beta access or learn more about x.
          div
            a.f6.br-pill.secondary-bg.no-underline.grow.pv2.ph3.dib.mr3(href='#')
              | Sign Up
            a.f6.br-pill.default-bg.no-underline.grow.pv2.ph3.dib(href='#')
              | Learn More 
         article.mw7.center.ph3.ph5-ns.tc.br2.pv5.primary-gradient-bg.white-color.mb5
          h1.fw6.f3.f2-ns.lh-title.mt0.mb3
            | This is a tagline. For x.
          h2.fw2.f4.lh-copy.mt0.mb3
            | This will change things. And we want you to be involved. This text needs to
            | be longer for testing sake.
          p.fw1.f5.mt0.mb3
            | Sign up for beta access or learn more about x.
          div
            a.f6.br-pill.secondary-bg.no-underline.grow.pv2.ph3.dib.mr3(href='#')
              | Sign Up
            a.f6.br-pill.primary-bg.no-underline.grow.pv2.ph3.dib.mr3(href='#')
              | Learn More 2
        section.ph3.ph5-ns.pv5
          article.mw8.center.br2.default-bg
            .dt-ns.dt--fixed-ns.w-100
              .pa3.pa4-ns.dtc-ns.v-mid
                div
                  h2.fw4.mt0.mb3.primary-color This is a promo title 
                  p.black-70.measure.lh-copy.mv0
                    | This is suporting copy for the wonderful promo catchphrase that is going to be used.
              .pa3.pa4-ns.dtc-ns.v-mid
                a.no-underline.f6.tc.db.w-100.pv3.dim.primary-bg.br2(href='#') Sign up for free
        section.ph3.ph5-ns.pv5
          article.mw8.center.br2.default-bg.secondary-bordred
            .dt-ns.dt--fixed-ns.w-100
              .pa3.pa4-ns.dtc-ns.v-mid
                div
                  h2.fw4.mt0.mb3.secondary-color This is a promo title 
                  p.black-70.measure.lh-copy.mv0
                    | This is suporting copy for the wonderful promo catchphrase that is going to be used.
              .pa3.pa4-ns.dtc-ns.v-mid
                a.no-underline.f6.tc.db.w-100.pv3.dim.secondary-bg.br2(href='#') Sign up for free
        .flex.items-center.justify-center.pa4.ma2.primary-bg
          svg.w1(data-icon='info', viewbox='0 0 32 32', style='fill:currentcolor')
            title info icon
            path(d='M16 0 A16 16 0 0 1 16 32 A16 16 0 0 1 16 0 M19 15 L13 15 L13 26 L19 26 z M16 6 A3 3 0 0 0 16 12 A3 3 0 0 0 16 6'        )
          span.lh-title.ml3 Some info that you want to call attention to.
        .flex.items-center.justify-center.pa4.ma2.secondary-bg
          svg.w1(data-icon='info', viewbox='0 0 32 32', style='fill:currentcolor')
            title info icon
            path(d='M16 0 A16 16 0 0 1 16 32 A16 16 0 0 1 16 0 M19 15 L13 15 L13 26 L19 26 z M16 6 A3 3 0 0 0 16 12 A3 3 0 0 0 16 6'        )
          span.lh-title.ml3 Some info that you want to call attention to.
        .flex.items-center.justify-center.pa4.ma2.default-bg
          svg.w1(data-icon='info', viewbox='0 0 32 32', style='fill:currentcolor')
            title info icon
            path(d='M16 0 A16 16 0 0 1 16 32 A16 16 0 0 1 16 0 M19 15 L13 15 L13 26 L19 26 z M16 6 A3 3 0 0 0 16 12 A3 3 0 0 0 16 6'        )
          span.lh-title.ml3 Some info that you want to call attention to.
        .flex.items-center.justify-center.pa4.ma2.primary-gradient-bg 
          svg.w1(data-icon='info', viewbox='0 0 32 32', style='fill:currentcolor')
            title info icon
            path(d='M16 0 A16 16 0 0 1 16 32 A16 16 0 0 1 16 0 M19 15 L13 15 L13 26 L19 26 z M16 6 A3 3 0 0 0 16 12 A3 3 0 0 0 16 6'        )
          span.lh-title.ml3 Some info that you want to call attention to.
        .mw9.center.ph3-ns
          h2 Cards
          .cf.ph2-ns
            .fl.w-33-ns.pa2
                article.br2.ba.dark-gray.b--black-10.mv4.w-100.w-100-m.w-100-l.mw5.center
                  img.db.w-100.br2.br--top(src='http://placekitten.com/g/600/300', alt='Photo of a kitten looking menacing.')
                  .pa2.ph3-ns.pb3-ns
                    .dt.w-100.mt1
                      .dtc
                        h1.f5.f4-ns.mv0 Cat
                      .dtc.tr
                        h2.f5.mv0 $1,000
                    p.f6.lh-copy.measure.mt2.mid-gray
                      | If it fits, i sits burrow under covers. Destroy couch leave hair everywhere,
                      | and touch water with paw then recoil in horror.
            .fl.w-33-ns.pa2
                article.mw5.center.bg-white.br3.pa3.pa4-ns.mv3.ba.b--black-10
                  .tc
                    img.br-100.h4.w4.dib.ba.b--black-05.pa2(src='http://tachyons.io/img/avatar_1.jpg', title='Photo of a kitty staring at you')
                    h1.f3.mb2 Mimi W.
                    h2.f5.fw4.gray.mt0 CCO (Chief Cat Officer)
            .fl.w-33-ns.pa2
                article.mw5.center.bg-white.br3.pa3.pa4-ns.mv3.ba.b--black-10
                  .tc
                    img.br-100.h3.w3.dib(src='http://tachyons.io/img/avatar_1.jpg', title='Photo of a kitty staring at you')
                    h1.f4 Mimi Whitehouse
                    hr.mw3.bb.bw1.b--black-10
                  p.lh-copy.measure.center.f6.black-70
                    | Quite affectionate and outgoing.
                    | She loves to get chin scratches and will
                    | roll around on the floor waiting for you give her more of them.
          h2 forms
           form.pa4.black-80
             .measure
               label.f6.b.db.mb2(for='name')
                 | Name 
                 span.normal.black-60 (optional)
               input#name.input-reset.pa2.mb2.db.w-100.form-input(type='text', aria-describedby='name-desc')
               small#name-desc.f7.black-60.db.mb2 Helper text for the form control.
             .measure
               label.f6.b.db.mb2(for='name')
                 | Name 
                 span.normal.black-60 (optional)
               input#name.input-reset.pa2.mb2.db.w-100.form-input(type='text', aria-describedby='name-desc')
               small#name-desc.f7.black-60.db.mb2 Helper text for the form control.
          h2 headers
            header.tc.pv4.pv5-ns
              img.br-100.pa1.ba.b--black-10.h3.w3(src='http://tachyons.io/img/logo.jpg', alt='avatar')
              h1.f5.f4-ns.fw6.mid-gray Jasper Whitehouse
              h2.f6.gray.fw2.ttu.tracked Los Angeles  

  .wrapper
   .container.round-borders.gap
    h1.text-center.roboto My UI library
    hr
    h2 Color palette : 
    hr
    .palette
      .box.primary-bottom-bordred.palette-item.primary-bg.round-borders #2454C1
      .box.secondary-bottom-bordred.palette-item.secondary-bg.round-borders #649E9B
      .box.primary-bo.while-colorttom-bordred.palette-item.default-bg.round-borders #F1F1E6
      .box.primary-bottom-bordred.palette-item.primary-gradient-bg.round-borders gradient
      .box.secondary-bottom-bordred.palette-item.secondary-gradient-bg.round-borders gradient
      .box.default-bottom-bordred.palette-item.default-gradient-bg.round-borders gradient
      .box.default-bordred.default-bottom-bordred.round-borders 
       .center-block test 
    hr
    section.mw7.center.avenir
     h2.roboto.fw1.ph3.ph0-l Articles
     article.bb.b--black-10
       a.db.pv4.ph3.ph0-l.no-underline.black.dim(href='#0')
         .flex.flex-column.flex-row-ns
           .pr3-ns.mb4.mb0-ns.w-100.w-40-ns
             img.db(src='http://mrmrs.github.io/photos/warehouse.jpg', alt='Photo of a warehouse with stacked shelves.')
           .w-100.w-60-ns.pl3-ns
             h1.f3.fw1.roboto.mt0.lh-title.secondary-color Warehouse Prices Are Fast on the Rise
             p.f6.f5-l.lh-copy
               | A warehouse is a commercial building for storage of goods.
               | Warehouses are used by manufacturers, importers, exporters,
               | wholesalers, transport businesses, customs, etc. They are
               | usually large plain buildings in industrial areas of cities,
               | towns and villages.
             p.f6.lh-copy.mv0 By Robin Darnell
     article.bb.b--black-10
       a.db.pv4.ph3.ph0-l.no-underline.black.dim(href='#0')
         .flex.flex-column.flex-row-ns
           .pr3-ns.mb4.mb0-ns.w-100.w-40-ns
             img.db(src='http://mrmrs.github.io/photos/whale.jpg', alt='Photo of a warehouse with stacked shelves.')
           .w-100.w-60-ns.pl3-ns
             h1.f3.fw1.roboto.mt0.lh-title.secondary-color Giant Whale Invests Huge Money to Build a Computer Out of Plankton
             p.f6.f5-l.lh-copy
               | Whale is the common name for a widely distributed and diverse
               | group of fully aquatic placental marine mammals. They are an
               | informal grouping within the infraorder Cetacea, usually
               | excluding dolphins and porpoises.
             p.f6.lh-copy.mv0 By Robin Darnell

