extends /layouts/_default

block content
 .container.round-borders
   h1.text-center.roboto My UI library
   hr
   h2 Color palette : 
   hr
   .palette
     .box.primary-bottom-bordred.palette-item.primary-bg.round-borders #2454C1
     .box.secondary-bottom-bordred.palette-item.secondary-bg.round-borders #649E9B
     .box.default-bottom-bordred.palette-item.default-bg.round-borders #F1F1E6
     .box.primary-bottom-bordred.palette-item.primary-gradient-bg.round-borders gradient
     .box.secondary-bottom-bordred.palette-item.secondary-gradient-bg.round-borders gradient
     .box.default-bottom-bordred.palette-item.default-gradient-bg.round-borders gradient
     .box.default-bordred.default-bottom-bordred.round-borders 
      .center-block test 
   hr
   h2 form elements :
   hr
   label.primary-color label
   input(type="text", placeholder="placeholder").form-input
   label.error-color label error
   input(type="text", placeholder="placeholder error").form-input.error-input
   label.success-color success
   input(type="text", placeholder="placeholder error").form-input.success-input
   label.primary-color textarea
     textarea
   label.primary-color select
     select
       option option1
       option option2
       option option3 
   hr
   h2 buttons : 
   hr
   .two-columns
     div
      h3 normale :
      button.box.primary-bg.round-borders primary button
      button.box.secondary-bg.round-borders secondary button
      button.box.default-bg.round-borders default button
     div
      h3 normale disabled : 
      button.box.primary-bg.round-borders.disable primary button
      button.box.secondary-bg.round-borders.disable secondary button
      button.box.default-bg.round-borders.disable default button
     div
      h3 bordred : 
      button.box.primary-bg.round-borders.primary-dark-bottom-bordred primary button
      button.box.secondary-bg.round-borders.secondary-dark-bottom-bordred secondary button
      button.box.default-bg.round-borders.default-dark-bottom-bordred default button
     div
      h3 bordred disabled : 
      button.box.primary-bg.round-borders.primary-dark-bottom-bordred.disable primary button
      button.box.secondary-bg.round-borders.secondary-dark-bottom-bordred.disable secondary button
      button.box.default-bg.round-borders.default-dark-bottom-bordred.disable default button
     div
      h3 gradient : 
      button.box.primary-gradient-bg.round-borders primary gradient button
      button.box.secondary-gradient-bg.round-borders secondary gradient button
      button.box.default-gradient-bg.round-borders default gradient button
     div
      h3 gradient disabled  : 
      button.box.primary-gradient-bg.round-borders.disable primary gradient button
      button.box.secondary-gradient-bg.round-borders.disable secondary gradient button
      button.box.default-gradient-bg.round-borders.disable default gradient button
     
     div
      h3 empty : 
      button.box.primary-empty.round-borders primary empty button
      button.box.secondary-empty.round-borders secondary empty button
      button.box.default-empty.round-borders default empty button
     div
      h3 empty disabled : 
      button.box.primary-empty.round-borders.disable primary empty button
      button.box.secondary-empty.round-borders.disable secondary empty button
      button.box.default-empty.round-borders.disable default empty button
   
   h3 with icons :
   button.box.primary-bg.round-borders primary button
     i.fa.fa-check
   button.box.secondary-bg.round-borders secondary button
     i.fa.fa-bookmark-o
   button.box.default-bg.round-borders default button
     i.fa.fa-cog
   h3 only-icons buttons: 
   button.box.primary-bg.icon-btn
     i.fa.fa-cog
   button.box.secondary-bg.icon-btn
     i.fa.fa-cog
   button.box.default-bg.icon-btn
     i.fa.fa-cog
   h3 inputs with icons
     .input-group
       .primary-bg.input-icon
        i.fa.fa-check
       input(type="text", placeholder="placeholder").form-input
     .input-group
       .secondary-bg.input-icon
        i.fa.fa-cog
       input(type="text", placeholder="placeholder").form-input
     .input-group
       .default-bg.input-icon
        i.fa.fa-at
       input(type="text", placeholder="placeholder").form-input
     .input-group
       .primary-gradient-bg.input-icon
        i.fa.fa-check
       input(type="text", placeholder="placeholder").form-input
     .input-group
       .secondary-gradient-bg.input-icon
        i.fa.fa-cog
       input(type="text", placeholder="placeholder").form-input
     .input-group
       .default-gradient-bg.input-icon
        i.fa.fa-at
       input(type="text", placeholder="placeholder").form-input

   h3 checkboxes
    hr
    .tree-columns
      .col
        h4 Normal
        hr
        label.checkbox.primary  lorem
         input(type="checkbox", checked="")
         span.checkmark
        label.checkbox.secondary lorem
         input(type="checkbox")
         span.checkmark
        label.checkbox.default lorem
         input(type="checkbox")
         span.checkmark    
      .col
        h4 Semi-rounded
        hr
        label.checkbox.primary.semi-rounded lorem
         input(type="checkbox")
         span.checkmark
        label.checkbox.secondary.semi-rounded lorem
         input(type="checkbox", checked="")
         span.checkmark
        label.checkbox.default.semi-rounded lorem
         input(type="checkbox")
         span.checkmark
    
      .col
        h4 rounded
        hr
        label.checkbox.primary.rounded lorem
         input(type="checkbox")
         span.checkmark
        label.checkbox.secondary.rounded lorem
         input(type="checkbox")
         span.checkmark
        label.checkbox.default.rounded lorem
         input(type="checkbox", checked="")
         span.checkmark
   hr
   h3 radio buttons
   label.primary-color Skip for now
   h3 wizzard
   label.primary-color Skip for now
   h2 alerts/modals
   .modal.primary.round-borders
    .header
      h2 Hello !
      p this a welcome  modal
    .content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit atque at vero, reiciendis labore molestias vitae non, quasi porro, in odit officia quae iste ut neque nisi velit maxime totam.
    .footer
      button.box.primary-bg.round-borders.pull-right Cool ! 
      .clearfix
   .modal.secondary.round-borders
    .header
      h2 Hello ! d
      p this a welcome  modal
    .content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit atque at vero, reiciendis labore molestias vitae non, quasi porro, in odit officia quae iste ut neque nisi velit maxime totam.
    .footer
      button.box.secondary-bg.round-borders.pull-right Cool ! 
      .clearfix
   .modal.primary-gradient.round-borders
    .header
      h2 Hello !
      p this a welcome  modal
    .content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit atque at vero, reiciendis labore molestias vitae non, quasi porro, in odit officia quae iste ut neque nisi velit maxime totam.
    .footer
      button.box.primary-gradient-bg.round-borders.pull-right Cool ! 
      .clearfix
   .modal.default-gradient.round-borders
    .header
      h2 Hello !
      p this a welcome  modal
    .content  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit atque at vero, reiciendis labore molestias vitae non, quasi porro, in odit officia quae iste ut neque nisi velit maxime totam.
    .footer
      button.box.default-gradient-bg.round-borders.pull-right Cool ! 
      .clearfix
   hr
   h2 pills
   .tree-columns
     .pill.primary-bg lorem
     .pill.secondary-bg lorem
     .pill.default-bg lorem
   hr
   label.warning-color TODO
   h2 navs
   hr
   label.warning-color TODO
   h2 tabs
   hr
   label.warning-color TODO
   h2 footers
   hr
   label.warning-color TODO
   h2 headers
   hr
   label.warning-color TODO
   h2 cards
   hr
   label.warning-color TODO
   h2 menus
   hr
   label.warning-color TODO
   h2 tooltips
   hr
   label.warning-color TODO
   h2 sidebars
   hr
   label.warning-color TODO
   h2 progress-bars
   hr
   label.warning-color TODO
   h2 loaders
   hr
   label.warning-color TODO
   h2 icons
   hr
   label.warning-color TODO
   h2 heros
   hr
   label.warning-color TODO
   h2 Typography
   hr
   label.warning-color TODO
   h2 notifications
   hr
   label.warning-color TODO