extends /layouts/_default

block content
  h1.box Color palette : 
  .palette
    .box.palette-item.primary-bg #2454C1
    .box.palette-item.secondary-bg #649E9B
    .box.palette-item.default-bg #F1F1E6
  
